<mat-toolbar color="primary" class="navbar navbar-expand-lg ps-5 pe-5 mb-3">
  <div class="container-fluid">
    <a mat-button color="accent" disableRipple class="navbar-brand" [routerLink]="['/home']">Poultry Regulation
      Board</a>
    <div class="nav-content">
      <ul class="nav navbar-nav">
        <li>
          <a mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>

        <li *ngFor="let menu of menuItems">
          <a mat-button [routerLink]="menu.link" routerLinkActive="active">{{menu.name}}</a>
        </li>

      </ul>
    </div>
    <div class="navbar-right nav-item dropdown">
      <a mat-flat-button color="accent" routerLink="/login" *ngIf="!currentUser">Login</a>
      <user-profile-popup style="height: 100%;" *ngIf="!!currentUser" [user]="currentUser" (logout)="logout()">
      </user-profile-popup>
    </div>
  </div>
</mat-toolbar>