<mat-stepper>
  <mat-step label="Fill out the Farm Details">
    <div class="form-content">
      <app-farm-details></app-farm-details>
    </div>
  </mat-step>
  <mat-step label="Questionere">
    <!-- <form [formGroup]="step2">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment</ng-template>
    <p>Your payment registration fee is ...</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="pay()">Pay</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </mat-step>
</mat-stepper>