<mat-grid-list cols="1" rowHeight="300px">
  <mat-grid-tile>
    <div class="mygrid">
      <div class="profile-header">
        <div class="profile-avatar mat-display-2">{{user.firstName[0] |
          uppercase}}{{user.lastName[0] | uppercase}}
        </div>
        <div class="mat-title mb-0">
          <span>{{user.firstName}} {{user.lastName}}</span>
        </div>
        <div class="mat-caption">{{user.email}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="col-md-10">
      <mat-accordion>
        <div class="ms-3 mat-title">Your poultry farms:</div>
        <mat-expansion-panel *ngFor="let farm of userFarms" expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{farm.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{farm.status.display}}
              <mat-icon class="ms-3" [ngStyle]="{color:farm.status.color}">{{farm.status.icon}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div [ngSwitch]="farm.status.code">
            <div *ngSwitchCase="0">{{farm.name}} has been successfully registered and lisenced</div>
            <div *ngSwitchCase="1">{{farm.name}} is under review</div>
            <div *ngSwitchCase="2">Payment is pending for {{farm.name}} </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-grid-tile>
</mat-grid-list>